html {
    font-size: 62.5%;
  }
  
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 56.25%;
    }
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    position: relative;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    padding: 0 2rem;
    margin: 0 auto;
    position: relative;
  }
  
  .header {
    background-color: #fafafa;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
  }
  
  .header .container:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .header .logo {
    float: left;
    height: 4.4rem;
    width: 12rem;
    margin-right: 2rem;
  }
  
  .header:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .header .option {
    margin-left: 16rem;
    margin-right: 46.1rem;
  }
  
  .header .option a {
    font-size: 1.3rem;
    padding: 0 1.5rem;
    color: #777;
  }
  
  .header .option a:hover {
    color: #222;
  }
  
  .header .option .active {
    font-weight: bold;
    color: #1A73E8;
    border-bottom: 3px solid #1A73E8;
  }
  
  .header .option .tools {
    padding: 4px 15px;
    border: 1px solid transparent;
    transition: all 0.0s;
  }
  
  .header .option .tools:hover {
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .header .option__left {
    float: left;
  }
  
  .header .option__left a {
    padding-bottom: 1.2rem;
  }
  
  .header .option__right {
    float: left;
    margin-left: 11rem;
  }
  
  .nav {
    float: right;
    width: 40%;
    text-decoration: none;
  }
  
  .nav__box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav__box a {
    margin-right: 1.5rem;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.87)
  }
  
  .nav__box a:hover {
    text-decoration: underline;
  }
  
  .nav__box div {
    margin-right: 2rem;
  }
  
  .nav__box .fa-th {
    margin-right: 1rem;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.5);
    transition: all .2s ease-in;
  }
  
  .nav__box .fa-th:hover {
    color: rgba(0, 0, 0, 0.85);
  }
  
  .nav__notification {
    height: 2rem;
    width: 2rem;
    background-color: #db4437;
    border-radius: 10rem;
    position: relative;
  }
  
  .nav__notification:hover {
    background-color: #bc3b30;
  }
  
  .nav__notification a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }
  
  .nav__notification a:hover {
    text-decoration: underline;
  }
  
  .nav__account {
    height: 3.2rem;
    width: 3.2rem;
    background-color: #926E64;
    border-radius: 10rem;
    position: relative;
    text-decoration: none;
  }
  
  .nav__account a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
  }
  
  .nav__account a:hover {
    text-decoration: none;
  }

  
  .search {
    float: left;
    width: 30%;
    position: relative;
  }
  
  .search__mic {
    position: absolute;
    top: .8rem;
    left: 57rem;
    height: 2.5rem;
  }
  
  .search__btn {
    position: absolute;
    top: .9rem;
    left: 60rem;
    height: 2.1rem;
  }
  
  .search__input {
    position: relative;
    margin-bottom: 3rem;
  }
  
  .search__input__text {
    width: 63.5rem;
    height: 4rem;
    padding: 5px 0;
    padding-left: 1.6rem;
    border: none;
    font-size: 1.6rem;
    color: #222;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .search__input__text:focus {
    outline: none;
  }
  
  .search__input__text:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }
  
  .search input[type="submit"] {
    height: 3.6rem;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 2px;
    padding: 0 1.6rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #757575;
    margin: 11px 4px;
    transition: color .2s ease;
  }
  
  .search input[type="submit"]:hover {
    color: #333;
    border: 1px solid #c6c6c6;
  }
  
  .search__language {
    font-size: 1.2rem;
  }
  
  .search__language a {
    color: #1a0dab;
  }
  
  .search__language a:first-child {
    margin-left: .5rem;
  }
  
  .search__language a:last-child {
    margin-left: 1rem;
  }
  
  .search__language a:hover {
    text-decoration: underline;
  }

  option__left {
      text-decoration: none;
  }

  .results__returned {
    padding-left: 175px;
    line-height: 43px;
    color: #808080;

  }

  .search__results {
    padding-left: 175px;
    margin-right: 500px;
  }

  .links {
    color: #006621;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.4;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: normal;
    color: #1a0dab;
    margin-bottom: 0rem;
  }

  p {
    line-height: 1.4;
    font-size: 1.3rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    color: #545454;
    word-wrap: break-word;
  }
  